.subnav {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  .subnav-parent {
    padding: 0 20px;
    display: inline-block;
    float: left;
    height: 100%;
    border-left: 1px solid #ccc;
    &:first-child {
      padding-top: 13px;
    }
    &:last-child {
      padding-top: 11px;
    }
  }
}
