/* Top Navigation toolbar */
.sf-toolbar {
  -webkit-box-shadow: 74px 2px 5px 0px rgba(90, 97, 105, 0.12);
  -moz-box-shadow: 74px 2px 5px 0px rgba(90, 97, 105, 0.12);
  box-shadow: 74px 2px 5px 0px rgba(90, 97, 105, 0.12);
}
/* Side Navigation bar */
