@import '~react-md/src/scss/react-md';
$md-colors-warn-md: false;

// Theme builder: https://react-md.mlaursen.com/customization/theme-builder
$md-blue-400: #007bff;
$md-linear-progress-fallback-color: $md-blue-300;

$md-orange-400: #f5a623;
$md-switch-ball-fallback-color: $md-orange-300;
$md-data-table-contextual-fallback-color: $md-orange-300;

$md-light-theme: true;
$md-primary-color: $md-blue-400;
$md-secondary-color: $md-orange-400;

// SF variables
$sf-shadow-color: rgba(90, 97, 105, 0.12);

// Set warnings to false
$md-slider-warn-md: false;

// Font Family
$md-font-family: 'Open Sans';

@include react-md-everything;

/* mixins : usage example: @include sf-box-shadow(2px, $y-axis, 7px, #000)*/
@mixin sf-box-shadow($x-axis: 0px, $y-axis: 2px, $blur: 13px, $spread: 0px, $color: $sf-shadow-color) {
  -webkit-box-shadow: $x-axis $y-axis $blur $spread $color;
  -moz-box-shadow: $x-axis $y-axis $blur $spread $color;
  box-shadow: $x-axis $y-axis $blur $spread $color;
}

.better-box-shadow {
  @include sf-box-shadow();
}

@import './modules/layout/style.scss';

/* Global styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f5f6f8;
}

/* Custom scroll bar style - class specific for now - think * might cause user confusion on page scroll*/
::-webkit-scrollbar-track {
  background-color: #dadada;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #999999;
}

/* Fixes for react-md bugs that can hopefully be deleted in the future */
.fix-panel-content-style {
  .md-panel-content {
    padding: 0;
  }
}

/* unsure of where this is used */
.selected-row {
  background-color: #cce6d6 !important; // !important overrides the hover event on other rows
}

.link {
  color: $md-primary-color;
  display: inline-block;
  text-decoration: none;
  transition: color $md-transition-time;

  &:visited {
    color: get-swatch($md-primary-color, 200, true);
  }

  &:hover {
    color: get-color('text', $md-light-theme);
    text-decoration: underline;
  }
}

.md-avatar__google-logo {
  background: $md-white-base;
}

.react-md-logo {
  fill: 'blue';
}

.funder-logo {
  &:hover {
    background-color: #efefef;
  }
}
