/* Global reset */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: transparent;
}

@import './scss/md-config';
@import './scss/custom-scrollbar';
@import './scss/links';

@import './scss/sf-variables';
@import './scss/sf-mixins';
@import './scss/sf-layout';
@import './scss/sf-tabs';
@import './scss/sf-editor';
@import './scss/sf-home-page';

// This was layout/style.scss
// #app-navigation-drawer {
//   /* Top Navigation toolbar */
//   .sf-toolbar {
//     -webkit-box-shadow: 74px 2px 13px 0px $sf-shadow-color;
//     -moz-box-shadow: 74px 2px 13px 0px $sf-shadow-color;
//     box-shadow: 74px 2px 13px 0px $sf-shadow-color;
//     @include sf-box-shadow($x-axis: 0);
//   }
// }

/**
 * Some general styles
 */

.better-box-shadow {
  @include sf-box-shadow();
}

.cursor-pointer {
  cursor: pointer;
}

.filter-menu-selected-item {
  background-color: $md-data-table-selected-color;
}

.add-on-hover:hover {
  background-color: $md-data-table-hover-color;
}

.opacity-animation-enter,
.opacity-animation-appear {
  opacity: 0;
}

.opacity-animation-enter-active,
.opacity-animation-appear-active {
  opacity: 1;
  transition: all 1000ms;
}

.opacity-animation-enter-done,
.opacity-animation-appear-done {
  opacity: 1;
}

.opacity-animation-exit {
  opacity: 1;
}

.opacity-animation-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

.my-node-enter,
.my-node-appear {
  opacity: 0;
  height: 64px;
}

.my-node-enter-active,
.my-node-appear-active {
  opacity: 1;
  height: calc(100% - 350px);
  transition: all 1000ms;
}

.my-node-enter-done,
.my-node-appear-done {
  opacity: 1;
  height: calc(100% - 350px);
}

.my-node-exit {
  opacity: 1;
  height: calc(100% - 350px);
}

.my-node-exit-active {
  opacity: 0;
  height: 64px;
  transition: all 1000ms;
}
