.sf-layout-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sf-layout-drawer,
.sf-layout-drawer-mini {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.page-content {
  position: relative;
}

// This is the notifications bar above the table
// .sf-content-header {}

.sf-content-header {
  .close-button {
    i {
      color: $md-primary-color;
    }
  }
}
